<!DOCTYPE html>
<html lang="nl">
  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitekaartje</title>
    <link rel="stylesheet" href="/style.css">
    <script href= "scripts/script.js"></script>
    <link rel="stylesheet"  href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:ital,wght@1,100;1,500&display=swap">
  </head>
  <body>