
:root{
  /* Text */
  --h1-text-color:#fff;
  --h2-text-color:#000;
  --h3-text-color:#000;

  --p-text-color:#000;
  --p-text-color-light:#fff;
  --background-color-card:#81A78A;
  --background-color-body:#e2e2e2;
  --background-color-back:rgb(153 169 186);

  /* Streepjes */
  --streep-paars:#7a1eb4;
  --streep-blauw: #4D40DF;
  --streep-geel: #ffff00;
  --streep-rood: #e82626;
  --streep-rose:#DF40A0;
  --streep-groen: #43DF40;
  --streep-donker-rose: #DF40A0;
  --streep-lichtblauw:#58ACDB;
  --streep-oranje: #EDA231;

  /* Font */
  --font-h1: 'Koulen', sans-serif;
  --font-standard:'Poppins', sans-serif;

  /*paddind/margin */
  --border-radius:1rem;
}
*{
  margin: 1rem;
}
body{
  background-color: var(--background-color-body);
}
h1,h2{
  font-family: var(--font-h1);
}
p{
  font-family: var(--font-standard);
  color:var(--p-text-color-light);
}
.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.card{
  background-color: var(--background-color-card);
  height:22rem;
  width:40rem;
  border-radius: 1rem;
  position: relative;
  box-shadow:9px 0 #1b432c80
}

.turning-arrow{
  display: flex;
  position: absolute;
  top:0;
  right:1rem;
  
}

/* Front */
header{
  position:relative;
  top:5rem;
  left:5rem;
  text-align:center;
}

#my-name{
  color: var(--h1-text-color);
  font-size: 3rem;
  letter-spacing:0.2rem;
  filter: drop-shadow(0 5px 3px #00000040); 
}

.white-drawing{
  position: absolute;
  top:-5.6rem;
  left:-1.6rem;
  height:27.5rem
}
/* Back */
.back{
  display: none;
}
.text-bio{
  font-family: var(--font-standard);
}